:host {
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    padding: 0 10px;
    backdrop-filter: blur(8px);
    background-color: var(--header-color);

    & > * {
      flex: 1;
    }

    h1 {
      margin: 0;
    }

    section.controls {
      display: flex;
      gap: 10px;

      input {
        width: 100%;
      }
    }
  }
}
